.btn {
    font-family: var(--fontfamily-H);
    font-size: 1.8rem;
    font-weight: 400;

}

.link {
    text-decoration: none;
    font-family: var(--fontfamily-p);
    font-size: 1.0rem;
    color: var(--primary-color);


}






/*---------- contacts----------*/

.contactsHeader {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 1rem 1rem;
}

.contactsTitle {
    border-right: solid 4px var(--details-color);
    border-bottom: solid 4px var(--details-color);
    padding: .5rem;
}

.contactsContainer {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.contactsFormContainer {
    padding: 10px;
    background-color: var(--tertiary-color);
    box-shadow: 15px 15px 0px 0px var(--primary-color);
    border: 4px solid var(--primary-color);
}

.contactsForm {
    display: flex;
    flex-direction: column;
    width: 30rem;
    font-family: var(--fontfamily-p);
    font-size: 1rem;
}

.inputContainer {
    background-color: #d9d9d9;
    border: 3px solid var(--primary-color);
    line-height: 3.5rem;
    margin-bottom: .5rem;
}

.contactsSubmit {
    background-color: var(--details-color);
    line-height: 2rem;
    box-shadow: 6px 6px 0px 0px var(--primary-color);
    border: 3px solid var(--primary-color);
    width: 13rem;
    height: 4rem;
    align-self: center;
    margin: .5rem;
    font-family: var(--fontfamily-p);
    font-size: 1rem;

}

.socialContainer {
    align-self: baseline;
    background-color: #C43024;
    box-shadow: 12px 12px 0px 0px #F9A402;
    border: 3px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 3px solid var(--primary-color);
    margin: 1.24rem;
    gap: 2rem;
    padding: 1rem;
}

