.btn {
    font-family: var(--fontfamily-H);
    font-size: 1.8rem;
    font-weight: 400;

}

.link {
    text-decoration: none;
    font-family: var(--fontfamily-p);
    font-size: 1.0rem;
    color: var(--primary-color);


}

.about_me {
    padding-top: 3.5rem;
}
 .contacts {
    padding-top: 3.5rem;
}
.projects{
    padding-top: 3.5rem;
    z-index: 1;
}


/*---------- nav-home ----------*/

.logo {
    height: 10rem;
}



/* .navBar {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.navContainer {
    background-color: var(--secondary-color);
    padding: 1.5rem;
    filter: drop-shadow(8px 8px 0px #F9A402) drop-shadow(10px 10px 0px #000);
    border: var(--primary-color) solid 3px;
}
*/
.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-color: #fff;
    padding: 1.5rem;
    height: 16rem;
    border: var(--primary-color) solid 3px;
    text-decoration: none;
  
    list-style-type: none;

} 

.mobileMenu {
    display: contents;
    
}
.hamburgerMenu {
   background-color: var(--bg-color); 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* width: 100%; */
    position: fixed;
    
    right: 0;
    top: 0;

    z-index: 1000;

    transition: all 1s ease;
}

.hamburgerMenuOpen{
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0;
    padding:  1rem  ;
    position: fixed;
    z-index: 1000;
   
    height: 100vh;
    top: 0;

    transition: all 1s ease;
}

.classOpen {
    background-color: var(--secondary-color);
    padding: 1.5rem;
     filter: drop-shadow(8px 8px 0px #F9A402); /*drop-shadow(10px 10px 0px #000); */
    border: var(--primary-color) solid 3px;
    margin: 1rem;
    width: 160px;

    transition: all 1s ease-in;
    
    
    
}
.hamburgerButton {
    background-color: transparent;
    border: none;
    margin: 1rem;
 
}

.menuCenter{
    display: flex;
    
}

.menuContainer{
    margin: auto;
    
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  
    z-index: 1; 
    
}


/*---------- nav /home mobile ----------*/

@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }

   

    .navBar {
        background-color: var(--secondary-color);
        display: none
    }


    .heroTitle {
        margin: 1.5rem 0;
        line-height: 3.5rem;
        padding: 4rem 0;
    }

    .mobileMenu {
        display: flex;
        /* flex-direction: row-reverse; */
      
    }

   

    .classOpen {
        background-color: var(--secondary-color);
        padding: 1.5rem;
        filter: drop-shadow(8px 8px 0px #F9A402); /*drop-shadow(10px 10px 0px #000); */
        border: var(--primary-color) solid 3px;
    
    }
    .menuContainer{
        margin: auto;
    }
    
    .hamburgerMenu {
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        position: fixed;
        
    }

    .hamburgerMenuOpen{
        background-color: var(--tertiary-color);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        padding: 0rem 0rem 3rem 0;
        position: fixed;
        z-index: 1000;
        
        height: auto;
    }


    

}


/*---------- home ----------*/

.heroContainer {
  
    margin-left: 2.25rem;
   padding-bottom: 5rem;

}




.flexTitle {
    display: flex;
    flex-direction: column;
}

.heroTitle {
    margin: 1.5rem 0;
    line-height: 4.5rem;
}

/* .heroTitle h1{
    font-family: var(--fontfamily-H);
    font-size: 3.75rem;
    font-weight: 400;
  } */

.btnContactLink {
    box-shadow: 6px 6px 0px 0px #F9A402;
    border: 3px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 4rem;

    font-family: var(--fontfamily-H);
    font-size: 1.8rem;
    font-weight: 400;

}

.contactLink {
    text-decoration: none;
    padding: 2rem;
    color: var(--primary-color);
}

.yellowCircle {
    background-color: #F9A402;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    position: absolute;
    bottom: -120px;
    right: 180px;
    z-index: -1;
}

.line1 {
    width: 100%;
    border-bottom: #000 solid 6px;
}

/*---------- about me ----------*/

.about_me {
    /* margin: 1.5rem; */
    height: 110vh;
    
}

.about_meHeader {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin:  1rem ;
}

.about_meTitle {
    border-right: solid 4px var(--details-color);
    border-bottom: solid 4px var(--details-color);
    padding: .5rem;
}

.about_meContent {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    padding: 1rem;
}

.about_meTxt {
    max-width: 18rem;
    height: 70vh;
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    color: #fff;
    line-height: 1.5rem;
    display: flex;
    text-align: justify;
}

.about_meTxt p {
    margin: auto;
    padding: 16px;
}

.profileImg {
    max-width: 20vw ;
    margin: auto;
}

.about_meSkills {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skillsTxt {
    background-color: var(--tertiary-color);
    border: 3px solid var(--primary-color);
    padding: 2rem 2rem;
    line-height: 1.5rem;
    color: #fff;
    text-align: justify;
}

.skillsAppsContainer {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 15rem;
    /* overflow: hidden; */
}

.skillsApps {
    display: flex;
    background-color: #fff;
    border: 3px solid var(--primary-color);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    max-height: 15rem;


}

.skillsApps img {
    height: 48px;

}


/*---------- #mobile aboutme ----------*/
@media screen and (max-width: 768px) {
    .about_me {

        height: auto;
        min-height: auto;
    }

    .about_meContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:  0 2rem ;
    }

    .about_meTxt {
        max-width: none;
        background-color: var(--secondary-color);
        border: 3px solid var(--primary-color);
        color: #fff;
        line-height: 1.5rem;
        padding: 1rem 1rem;
        height: auto;
        text-align: justify;

    }

    .skillsAppsContainer {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-height: none;
        margin-top: 1rem;
        /* overflow: hidden; */
    }

    .skillsApps {
        max-height: none;
    }

    .profileImg {
        max-height: 60vh;
        max-width: fit-content 
    }
}



/*---------- #projects ----------*/

.redCircle {
    background-color: var(--secondary-color);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    margin: -3rem 1.5rem;
}

.line2 {
    position: absolute;
    width: 33%;
    left: 0;
    border-bottom: #000 solid 6px;
    z-index: -1;

}

.projectsHeader {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 1rem;
}

.projectsTitle {
    border-right: solid 4px var(--details-color);
    border-bottom: solid 4px var(--details-color);
    padding: .5rem;
}

.display_card {
    display: flex;
    align-content: baseline;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    z-index: 1;

}

.bgBlue {
    background-color: var(--tertiary-color);
    display: flex;
    gap: 5rem;
    border-radius: 20px;
}

.bgYellow {
    background-color: var(--details-color);
    display: flex;
    gap: 5rem;
    border-radius: 20px;
}

.cards {
    border: var(--primary-color) 4px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    align-content: center;
    max-width: 15rem;
    margin: 1.5rem;


}

.cards_color {
    color: #fff;
}

.cardImg {
    width: 120rem;

}

.cards h4 {
    margin-bottom: 6px;

}

/* .coming {
    height: 50vh;
    margin: auto;
    text-align: center;

}

.coming p {
    padding: 2rem;
} */




/*---------- mobile projects----------*/
@media screen and (max-width: 768px) {
    .redCircle {
        display: none;
    }

    .line2 {
        display: none;
    }

}


/*---------- contacts----------*/

.contactsHeader {

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 1rem 1rem;
}

.contactsTitle {
    border-right: solid 4px var(--details-color);
    border-bottom: solid 4px var(--details-color);
    padding: .5rem;
}

.contactsContainer {
    display: flex;
    justify-content: space-around;
   
    flex-wrap: wrap;

}

/*.contactsFormContainer {
    padding: 10px;
    background-color: var(--tertiary-color);
    box-shadow: 15px 15px 0px 0px var(--primary-color);
    border: 4px solid var(--primary-color);
}

 .contactsForm {
    display: flex;
    flex-direction: column;
    width: 30rem;
    font-family: var(--fontfamily-p);
    font-size: 1rem;
}

.inputContainer {
    background-color: #d9d9d9;
    border: 3px solid var(--primary-color);
    line-height: 3.5rem;
    margin-bottom: .5rem;
}

.contactsSubmit {
    background-color: var(--details-color);
    line-height: 2rem;
    box-shadow: 6px 6px 0px 0px var(--primary-color);
    border: 3px solid var(--primary-color);
    width: 13rem;
    height: 4rem;
    align-self: center;
    margin: .5rem;
    font-family: var(--fontfamily-p);
    font-size: 1rem;

} */

.socialContainer {
    align-self: baseline;
    background-color: #C43024;
    box-shadow: 12px 12px 0px 0px var(--details-color);
    border: 3px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 4.1rem
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 3px solid var(--primary-color);
    gap: 1.5rem;
    padding: 1.25rem .5rem;
}

.socialbuttons {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
}

.socialbuttons :hover {
    transform: scale(1.1);
    transition: .6s;
}

.footer{
    padding-top: 20px;
}

/*---------- mobile contacts----------*/
@media screen and (max-width: 768px) {

    .contactsContainer {
        
        align-items: center;
        gap: 2rem;
    }

    .socialContainer {
        width: 65vw;
    }
}